@charset "UTF-8";
:root {
  --main-text-color: #212121;
  --submain-text-color: #757575;
  --accent-color: #2196F3;
  --white-color: #FFFFFF;
  --overlay-color: rgba(47, 48, 58, 0.4);
  --social-link-color: #AFB1B8;
  --backdrop: rgba(0, 0, 0, 0.2);
  --hero-footer-background-color: #2F303A;
  --team-buttons-background-color: #F5F4FA;
}

body {
  background-color: var(--white-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  line-height: initial;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

img {
  display: block;
  margin: 0;
}

.hidden {
  /* робимо невидемим на всіх браузерах */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #ECECEC;
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    width: 768px;
    height: 80px;
    margin: 0 auto;
  }
}
.header .container {
  align-items: center;
  display: flex;
  margin-bottom: 0;
}

.logo {
  font-size: 24px;
  line-height: 1.17;
  font-family: Raleway, sans-serif;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .logo {
    padding-right: 87px;
    font-size: 26px;
    line-height: 1.19;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo__label {
  color: var(--accent-color);
}

.nav-menu {
  display: flex;
  /* Нижня полоска декору меню */
}
@media screen and (max-width: 767px) {
  .nav-menu {
    display: none;
  }
}
.nav-menu__link, .nav-menu__link--active {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu__link:hover, .nav-menu__link:focus, .nav-menu__link--active {
  color: var(--accent-color);
}
.nav-menu__link--active {
  position: relative;
}
.nav-menu__link--active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-color);
}

.nav-menu__item + .nav-menu__item {
  margin-left: 50px;
}

.contacts {
  display: flex;
  /* Через Before */
  /* .email::before {
  display: inline-block;
  content: "";
  width: 100px;
  height: 100px;
  margin-right: 10px;
  background-image: url("../images/SVG/contacts-envelope.svg");
  background-size: contain;
  background-repeat: no-repeat;
  outline: 1px solid black;
  } */
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .contacts {
    flex-direction: column;
    row-gap: 10px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: auto;
  }
}
.contacts__link {
  display: flex;
  align-items: center;
  color: var(--submain-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .contacts__link {
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}
.contacts__svg {
  margin-right: 10px;
  fill: currentColor;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .contacts__item + .contacts__item {
    margin-left: 50px;
  }
}

/* Моб-меню */
.mob-menu__svg {
  margin-left: auto;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .mob-menu__svg {
    display: none;
  }
}

.hero {
  padding: 118px 60px;
  padding-bottom: 200px;
  max-width: 480px;
  max-height: 400px;
  background-color: var(--hero-footer-background-color);
  text-align: center;
  margin: auto;
  background-image: linear-gradient(to right, var(--overlay-color), var(--overlay-color)), url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    max-height: 600px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    width: 768px;
    height: 400px;
  }
}
.hero__title {
  font-size: 26px;
  line-height: 1.62;
  color: var(--white-color);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
.hero__btn {
  background-color: var(--accent-color);
  min-width: 216px;
  padding: 10px 32px;
  border-radius: 4px;
  font-family: inherit;
  color: var(--white-color);
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background: #188CE8;
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-bottom: 0;
  }
}
.advantages__title {
  margin-bottom: 10px;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .advantages__title {
    text-align: center;
  }
}
.advantages__description {
  margin-top: 10px;
  margin-bottom: 0;
  color: var(--submain-text-color);
  font-size: 14px;
  line-height: 1.71;
}
.advantages__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .advantages__list {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__list {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__item {
    width: 354px;
  }
}
.advantages__svg {
  display: flex;
  min-height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  background-color: var(--team-buttons-background-color);
  border-radius: 4px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__svg {
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .duty {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.duty__title {
  padding-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--main-text-color);
}
.duty__list {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .duty__list {
    flex-wrap: wrap;
  }
}
.duty__item {
  position: relative;
}
.duty__immages {
  max-height: 100%;
}
.duty__label {
  position: absolute;
  display: block;
  width: 370px;
  height: 70px;
  background-color: hsla(235deg, 10%, 21%, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  bottom: 0;
  left: 0;
}
.duty__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.duty__item + .duty__item {
  margin-left: 30px;
}

.team {
  color: var(--main-text-color);
  background-color: var(--team-buttons-background-color);
  text-align: center;
}
.team__title {
  font-size: 28px;
  line-height: 1.17;
  padding-bottom: 30px;
  text-align: center;
  font-weight: 700;
  color: var(--main-text-color);
}
@media screen and (min-width: 768px) {
  .team__title {
    font-size: 36px;
    padding-bottom: 50px;
  }
}
.team__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .team__list {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    flex-wrap: wrap;
  }
}
.team__name {
  font-weight: 500;
}
.team__position {
  margin-top: 10px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--submain-text-color);
}
@media screen and (min-width: 768px) {
  .team__position {
    margin-bottom: 20px;
  }
}
.team__item {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 270px;
}
@media screen and (max-width: 767px) {
  .team__item {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    max-width: 354px;
  }
}
.team__photo {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .team__photo {
    margin-left: auto;
    margin-right: auto;
  }
}
.team__details {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .team__details {
    padding-bottom: 30px;
  }
}

.social-media {
  display: flex;
  justify-content: center;
  padding: 0;
}
.social-media__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-media__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--social-link-color);
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__svg {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__link:hover, .social-media__link:focus {
  background-color: var(--accent-color);
}
.social-media__link:hover .social-media__svg, .social-media__link:focus .social-media__svg {
  fill: var(--white-color);
}

.social-media__item + .social-media__item {
  margin-left: 10px;
}

.footer .social-media__item {
  background: rgba(255, 255, 255, 0.1);
}
.footer .social-media__link {
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .social-media__link:hover, .footer .social-media__link:focus {
  background-color: var(--accent-color);
}

.clients__title {
  font-size: 28px;
  line-height: 1.17;
  padding-bottom: 30px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.16;
    padding-bottom: 50px;
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .clients__list {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__list {
    flex-wrap: wrap;
  }
}
.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 170px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    width: 226px;
  }
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  display: flex;
  align-items: center;
}
.clients__link:hover .logo__svg, .clients__link:focus .logo__svg {
  fill: var(--accent-color);
}

.logo__svg {
  fill: var(--social-link-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-bottom: 60px;
  background-color: var(--hero-footer-background-color);
  /* Footer - тел,емейл,адреса */
}
.footer .container {
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.footer .logo {
  display: inline-block;
  margin-bottom: 12px;
  color: var(--white-color);
}
.footer__contact {
  display: inline-block;
  margin-top: 8px;
  font-style: normal;
  font-weight: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: hsla(0deg, 0%, 100%, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .footer__contact {
    margin-top: 9px;
  }
}
.footer__contact--address {
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact:hover, .footer__contact:focus {
  color: var(--accent-color);
}
.footer__contact--address:hover, .footer__contact--address:focus {
  color: var(--accent-color);
}

.contact {
  padding-top: 60px;
  margin-left: 0;
  width: 231px;
}

/* Footer - 2й стовпчик */
.follow {
  padding-top: 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .follow {
    padding-top: 72px;
    margin-left: 70px;
  }
}
.follow .social-media {
  margin-top: 20px;
}

/* Footer - 3й стовпчик */
.subscribe {
  padding-top: 60px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
@media screen and (min-width: 768px) {
  .subscribe {
    padding-top: 72px;
    margin-left: 93px;
  }
}
.subscribe__container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .subscribe__container {
    flex-direction: column;
    align-items: center;
  }
}
.subscribe__input {
  box-sizing: border-box;
  background-color: transparent;
  width: 358px;
  height: 50px;
  padding: 16px 295px 15px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .subscribe__input {
    width: 450px;
  }
}
.subscribe__input:hover, .subscribe__input:focus {
  border-color: var(--accent-color);
}
.subscribe__input::placeholder {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 0.8;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}
.subscribe__btn {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--accent-color);
  max-width: 200px;
  height: 50px;
  margin-left: 12px;
  padding: 10px 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  color: var(--white-color);
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .subscribe__btn {
    margin-left: 0;
    margin-top: 20px;
  }
}
.subscribe__btn:hover, .subscribe__btn:focus {
  background: #188CE8;
}
.subscribe__svg {
  margin-left: 10px;
  fill: var(--white-color);
  width: 24px;
  height: 24px;
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 34px;
}
@media screen and (max-width: 767px) {
  .filter__list {
    justify-content: start;
  }
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .filter__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
.filter__btn {
  min-width: 73px;
  padding: 6px 25px;
  background-color: var(--team-buttons-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: inherit;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* 9 items */
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .portfolio__list {
    max-width: 450px;
  }
}
.portfolio__link {
  display: block;
  text-decoration: none;
  color: inherit;
  max-width: inherit;
  height: inherit;
}
.portfolio__list { /* Ділимо на 3 секції через -15px */
  margin: -15px;
}
.portfolio__item { /* в лішку, а не в хувер, щоб в 2 сторони був box-shadow */
  margin: 15px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 370px;
}
@media screen and (max-width: 767px) {
  .portfolio__item {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__item {
    max-width: 354px;
  }
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.portfolio__frame {
  border: 1px solid #EEEEEE;
  padding: 20px 24px;
}
.portfolio__frame--modifier {
  padding-bottom: 56px;
}
.portfolio__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__type {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--submain-text-color);
}
.portfolio__thumb { /* Ефект виїзду карточки в Портфоліо */
  position: relative;
  overflow: hidden;
  height: 294px;
}
.portfolio__picture {
  width: 370px;
}
@media screen and (max-width: 767px) {
  .portfolio__picture {
    width: 450px;
  }
}
.portfolio__pic-text {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  margin: 0;
  padding: 63px 24px;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  transform: translateY(100%);
  /* transform: translateX(-100%); виїжджає збоку  */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}
@media screen and (max-width: 767px) {
  .portfolio__pic-text {
    padding: 77px 24px;
  }
}
.portfolio__item:hover .portfolio__pic-text {
  transform: translateY(0);
}

/* Ділимо на 3 секції через nth child */
/* .portfolio__item+.portfolio__item {
    margin-left: 30px;
    margin-bottom: 30px;}

    .portfolio__item:nth-child(3n+1) {
    margin-left: 0;}

    .portfolio__item:nth-last-child(-n+3) {
    margin-bottom: 0;} */
.mob-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 480px;
  height: 796px;
  padding: 48px 40px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
.mob-menu a {
  text-decoration: none;
}
.mob-menu .accent {
  color: var(--accent-color);
}
.mob-menu .not-accent {
  color: var(--submain-text-color);
}
.mob-menu__close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
}
.mob-menu__svg {
  width: 40px;
  height: 40px;
}
.mob-menu__svg:hover, .mob-menu__svg:focus {
  fill: var(--accent-color);
}
.mob-menu .nav__list {
  font-weight: 500;
  font-size: 40px;
  line-height: 0.85;
  letter-spacing: 0.02em;
}
.mob-menu .nav__item {
  margin-bottom: 32px;
}
.mob-menu .nav__link {
  color: var(--main-text-color);
}

.communication {
  margin-top: auto;
}
.communication__item:first-child {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}
.communication__item:last-child {
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.social {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
}

/* Бекдроп на index */
.backdrop {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), hidden 250ms cubic-bezier(0.4, 0, 0.2, 1); /* фон+вікно виринає м"яко */
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

/* Модальне вікно */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--white-color);
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
.modal h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  padding-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .modal h2 {
    width: 370px;
    margin: 0 auto;
  }
}
.modal__list:not(:last-child) {
  display: block;
  margin-bottom: 28px;
}
.modal__field {
  position: relative;
  display: flex;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__field:hover, .modal__field:focus {
  fill: var(--accent-color);
}
.modal__label {
  position: absolute;
  top: -20px;
  left: 0;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--submain-text-color);
}
.modal__cover {
  position: relative;
  width: 100%;
}
.modal__input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px 11px 42px;
  outline: transparent; /* обводка field прозора*/
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__svg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 11px;
  align-items: center;
  width: 18px;
  height: 18px;
}
.modal__field--comment .modal__input {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 16px;
  margin-bottom: 20px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__field--comment .modal__input::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__input:hover, .modal__input:focus {
  border-color: var(--accent-color);
}
.modal__field--confirmation {
  position: relative;
}
.modal__field--confirmation .modal__label {
  top: -5px;
  margin-left: 35px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--submain-text-color);
}
@media screen and (max-width: 1199px) {
  .modal__field--confirmation .modal__label {
    top: 0;
    margin-left: 25px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
  }
}
.modal__field--confirmation .modal__agreement {
  color: var(--accent-color);
  letter-spacing: 0.03em;
  text-decoration-skip-ink: none;
}
.modal__checkbox:checked + .modal__check {
  background-color: var(--accent-color);
  border-color: transparent;
}
.modal__check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  fill: var(--white-color);
  margin-left: 10px;
  border-radius: 2px;
  background-origin: border-box;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
@media screen and (max-width: 1199px) {
  .modal__check {
    margin-left: 0;
  }
}
.modal__check--svg {
  width: 100%;
  height: 100%;
}

.submit__btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accent-color);
  min-width: 200px;
  height: 50px;
  margin-top: 30px;
  padding: 10px 52px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  color: var(--white-color);
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit__btn--close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.submit__btn--close:hover .close-svg, .submit__btn--close:focus .close-svg {
  fill: var(--accent-color);
}
.submit__btn:hover, .submit__btn:focus {
  background: #188CE8;
}

.close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */