:root {
--main-text-color: #212121;
--submain-text-color: #757575;
--accent-color: #2196F3;
--white-color: #FFFFFF;
--overlay-color: rgba(47, 48, 58, 0.4);
--social-link-color: #AFB1B8;
--backdrop: rgba(0, 0, 0, 0.2);

--hero-footer-background-color: #2F303A;
--team-buttons-background-color: #F5F4FA;
}

body {
    background-color: var(--white-color);
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: 400;
}

/* Utilities */

.header {
    border-bottom: 1px solid #ECECEC;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    width: 1200px; 
}

h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    line-height: initial;
}

button{
    cursor: pointer;
}

address{
    font-style: normal;
}

a {
    text-decoration: none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

img {
    display: block;
}

.hidden {    /* робимо невидемим на всіх браузерах */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Header */

.header .container {
    align-items: center; 
    display: flex;
    margin-bottom: 0;
}


/* Logo */

.logo{
    margin-right: 93px;
}

.logo, .logo__label {
    font-family: Raleway, sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;  
}
.logo__label {
    color: var(--accent-color);
}

/* Site nav */
.nav-menu {
    display: flex;
}

.nav-menu__item +.nav-menu__item {
    margin-left: 50px;
}

.nav-menu__link:hover,
.nav-menu__link:focus {
    color: var(--accent-color);
}

.nav-menu__link, 
.nav-menu__link--active, 
.contacts__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;


    color: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts{
    display: flex;
    margin-left: auto;
}

.contacts__item+.contacts__item {
    margin-left: 50px;
}

.contacts__link:hover, 
.contacts__link:focus,
.nav-menu__link--active{
    color: var(--accent-color);
}

.contacts__link {
    color: var(--submain-text-color);
}

/* Нижня полоска декору меню */

.nav-menu__link--active {
    position: relative;
}

.nav-menu__link--active::after {
    content: "";
    display: block;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;

    background-color: var(--accent-color);
}

/* E-mail+Tel */

.contacts__link {
    display: flex;
    align-items: center;
}

.contacts__svg {
    margin-right: 10px;
    fill: currentColor;
    text-align: center;
}


/* Через Before */

/* .email::before {
    display: inline-block;
    content: "";
    width: 100px;
    height: 100px;
    margin-right: 10px;
    background-image: url("../images/SVG/contacts-envelope.svg");
    background-size: contain;
    background-repeat: no-repeat;
    outline: 1px solid black;
} */


/* Main-Top */
.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--hero-footer-background-color);
    text-align: center;

    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right, var(--overlay-color), var(--overlay-color)), url("../images/hero-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

/* outline: 10px solid black; */

}    
.hero__title {
    color: var(--white-color);  
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    margin-bottom: 30px;

    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
}
.hero__btn {
    background-color: var(--accent-color);
    min-width: 216px;
    padding: 10px 32px;     
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    font-family: inherit;
    color: var(--white-color);
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    border: none;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Advantages */
.advantages {
    padding-bottom: 0;
}

/* .title-hide {
    display: none;
} */
.advantages__title {
    margin-bottom: 10px;

    color: var(--main-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantages__description {
    margin-bottom: 0;
    color: var(--submain-text-color);
    font-size: 14px;
    line-height: 1.71;
}

.advantages__list {
    display: flex;
}

.advantages__description {
    margin-top: 10px;
}

.advantages__svg {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    background-color: var(--team-buttons-background-color);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.advantages__item+.advantages__item {
    margin-left: 30px;
}

/* Duty+Team */
.duty__title, .team__title {
    padding-bottom: 50px;

    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--main-text-color);
}
.duty__immages {
    display: flex;
}
.duty__item+.duty__item,
.team__item+.team__item {
    margin-left: 30px;    
}

/* Team */
.team {
    color: var(--main-text-color);
    background-color: var(--team-buttons-background-color);
    text-align: center;
}

.team__list {
    display: flex;
}

.team__name {
    margin-top: 30px;
}
.team__position {
    margin-top: 10px;
    margin-bottom: 20px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;  
    letter-spacing: 0.03em;
    color: var(--submain-text-color);
    /* border-bottom: 1px solid black; */
}
.team__item {
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* 4 social links */

.social-media {
    display: flex;    
    justify-content: center;
    margin-bottom: 30px;
    padding: 0;
}

.social-media__item+.social-media__item {
    margin-left: 10px;
}

.social-media__item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    border-radius: 50%;
}

.social-media__svg {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    fill: var(--social-link-color);
}

footer .social-media__svg {
    width: 20px;
    height: 20px;
    fill: var(--white-color);
}

.footer .social-media__item {
    background: rgba(255, 255, 255, 0.1);
}


/* 4 social links - hover */

.social-media__item{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__item:hover,
.social-media__item:focus {
    background-color: var(--accent-color);    
}

.social-media__item:hover .social-media__svg,
.social-media__item:focus .social-media__svg{
    fill: var(--white-color);    
}

/* Clients' logo */

.clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
 
    padding-bottom: 50px;
}

.clients__list {
        display: flex;
        justify-content: center;
        margin:0;
        padding:0;
}

.clients__item+.clients__item{
    margin-left: 30px;
}

.clients__item {
    display: flex;
    align-items: center;
    justify-content: center;
        
    width: 170px;
    height: 92px;
    border: 1px solid var(--social-link-color);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo__svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link{
    display: flex;
    justify-content: center;
    align-items: center;

    fill: var(--social-link-color);
    width: 100%;
    height: 100%; 
}

.clients__item:hover .logo__svg,
.clients__item:focus .logo__svg {
    fill: var(--accent-color); 
}

.clients__item:hover,
.clients__item:focus {
border: 1px solid var(--accent-color);
    display: flex;
    align-items: center;    
}

/* Footer */

.footer{
    display: flex;
    background-color: var(--hero-footer-background-color);   
}

.footer .container {
    display: flex;
    margin-bottom: 60px;
}

.footer .logo {
    display:inline-block;
    margin-top: 60px;
    margin-bottom: 20px;

    color: var(--white-color);
}

/* Footer - тел,емейл,адреса */

.footer__contact {
    display: inline-block;
    margin-bottom: 9px;

    font-style: normal;
    font-weight: inherit;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;  
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contact--address {
    color: var(--white-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contact:hover,
.footer__contact:focus{
    color: var(--accent-color);
}

.footer__contact--address:hover,
.footer__contact--address:focus {
    color: var(--accent-color);
}

/* Footer - 2й стовпчик */

.follow, .subscribe {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);

    margin-top: 72px;
    margin-left: 70px;
}

.follow .social-media {
    margin-top: 20px;
}

/* Footer - 3й стовпчик */

.subscribe { 
    margin-left: 93px;
}

.subscribe__container {
    position: relative;
    display: flex;
    justify-content: center;

    margin-top: 20px;
}

.subscribe__input {
    box-sizing: border-box;
    background-color: transparent;

    width: 358px;
    height: 50px;

    padding: 16px 295px 15px 15px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    color: var(--white-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));  
    transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    outline: transparent;

    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__input::placeholder {
    display: flex;
    align-items: center;
    
    font-size: 16px;
    line-height: 0.8;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.03em;
}

.subscribe__btn {    
    position: relative;
    display: flex;
    align-items: center; 
    
    background-color: var(--accent-color);
    min-width: 200px;
    height: 50px;
   
    margin-left: 12px;
    padding: 10px 28px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    color: var(--white-color);
    letter-spacing: 0.06em;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__svg {
    margin-left: 10px;
    fill: var(--white-color);
    width: 24px;
    height: 24px;
}

/* Portfolio */

.filter__list {
    display: flex;
    justify-content: center;
    padding-bottom: 34px;
    }

.filter__item+.filter__item {
    margin-left: 8px;
}

.filter__btn {
    min-width: 73px;    
    padding: 6px 25px;
    
    background-color: var(--team-buttons-background-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: inherit;
    border-radius: 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:hover,
.filter__btn:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* 9 items */

.portfolio__list {
    display: flex;
    flex-wrap: wrap;    
}

.portfolio__link {
    text-decoration: none;
    color: inherit;
}

/* Ділимо на 3 секції через -15px */
.portfolio__list {
    margin:-15px; 
}
.portfolio__item {
    margin: 15px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* в лішку, а не в хувер, щоб в 2 сторони був box-shadow */
}

.portfolio__item:hover, 
.portfolio__item:focus {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Ділимо на 3 секції через nth child */

/* .portfolio__item+.portfolio__item {
    margin-left: 30px;
    margin-bottom: 30px;
}
.portfolio__item:nth-child(3n+1) {
    margin-left: 0;
}
.portfolio__item:nth-last-child(-n+3) {
    margin-bottom: 0;
} */

.portfolio__frame {
    border: 1px solid #EEEEEE;
    /* margin-top: -5px; */
    padding: 20px 24px;
}

.portfolio__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio__type {
    margin-top: 4px;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--submain-text-color);
}

/* Модальне вікно на index */

.backdrop {      
    position: fixed;  
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); /* фон+вікно виринає м"яко */
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;    
}
.backdrop.is-hidden .modal {    
    transform: translate(-50%, -50%) scale(1.1);
}

.modal {    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    width: 528px;
    height: 581px;  
    padding: 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: var(--white-color);
}

.submit__btn--close {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
.close-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.submit__btn--close:hover .close-svg,
.submit__btn--close:focus .close-svg {
    fill: var(--accent-color);
}


/* Ефект виїзду карточки в Портфоліо */
.portfolio__thumb {    
    position: relative;
    overflow: hidden;  
    height: 294px;  
}

.portfolio__pic-text {
    display: flex;
    align-items: center;

    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    margin: 0;
    padding: 63px 24px;

    font-family: 'Roboto';
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white-color);

    transform: translateY(100%);
    /* transform: translateX(-100%); виїжджає збоку  */
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(33, 150, 243, 0.9);
}

.portfolio__item:hover .portfolio__pic-text {
    transform: translateY(0);
}

/* Декор модального вікна */

.modal {
    position: relative;
}

.modal h2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);

    padding-bottom: 30px;
}

.modal__field {
    position: relative;

    display: flex;
    align-items: center;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* outline: 1px solid black; */
}

.modal__input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;   
    margin-bottom: 28px;
    padding: 11px 12px 11px 42px;  
    outline: transparent;    /* обводка field прозора*/
    cursor: pointer;
    
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.modal__field--comment .modal__input {
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    margin-bottom: 20px;
    resize: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.modal__field--comment .modal__input::placeholder {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal__svg {
    position: absolute;

    top: 0;
    left: 0;
    align-items: center;

    width: 18px;
    height: 18px;
    margin: 10px 15px 11px 11px;
}

.modal__label {
    position: absolute;
    /* display: block; */

    top: -20px;
    left: 0;

    font-family: 'Roboto';
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--submain-text-color);
}

.modal__field:hover,
.modal__field:focus {
    fill: var(--accent-color);
}

.modal__input:hover,
.modal__input:focus,
.subscribe__input:hover,
.subscribe__input:focus {
    border-color: var(--accent-color);
}

.modal__check {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 16px;
    height: 15px;
    border: 2px solid var(--main-text-color);
    fill: var(--white-color);
    margin-left: 10px;
    border-radius: 2px;
    background-origin: border-box;    

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;
}

.modal__checkbox:checked +.modal__check{
    background-color: var(--accent-color);
    border-color: transparent;
}

.modal__field--confirmation {
    position: relative;
}

.modal__field--confirmation .modal__label {
    top: -5px;
    margin-left: 35px;

    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--submain-text-color);
}

.modal__field--confirmation .modal__agreement {
    color: var(--accent-color);
    letter-spacing: 0.03em;
}

.submit__btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
    background-color: var(--accent-color);
    min-width: 200px;
    height: 50px;
    margin-top: 30px;

    padding: 10px 52px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
            
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    color: var(--white-color);
    letter-spacing: 0.06em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit__btn:hover,
.submit__btn:focus,
.subscribe__btn:hover,
.subscribe__btn:focus,
.hero__btn:hover,
.hero__btn:focus{
    background: #188CE8;
}


