@import './utils/variables';
@import './utils/fonts';
@import './utils/reset';

@import './components/header';
@import './components/site-nav';
@import './components/_hero';
@import './components/advantages';
@import './components/duty';
@import './components/team';
@import './components/social-links';
@import './components/clients';
@import './components/footer';
@import './components/portfolio';

@import './utils/modal';