.footer {    
    padding-bottom: 60px;
    background-color: var(--hero-footer-background-color);

    .container {
        display: flex;
        }

    .logo {
        display: inline-block;
        margin-bottom: 20px;    
        color: var(--white-color);
        }

/* Footer - тел,емейл,адреса */

    &__contact {
        display: inline-block;
        margin-bottom: 9px;
    
        font-style: normal;
        font-weight: inherit;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: hsla(0, 0%, 100%, 0.600);
        text-decoration: none;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

    &__contact--address {
        color: var(--white-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__contact:hover,
    &__contact:focus {
        color: var(--accent-color);
    }
    &__contact--address:hover,
    &__contact--address:focus {
        color: var(--accent-color);
    }
}

.contact {
    padding-top: 60px;
    margin-left: 0;    
    width: 231px;
}

/* Footer - 2й стовпчик */

.follow {
    padding-top: 72px;
    margin-left: 70px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);

    .social-media {
        margin-top: 20px;
    }
}

/* Footer - 3й стовпчик */

.subscribe {
    padding-top: 72px;
    margin-left: 93px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);

    &__container {
        position: relative;
        display: flex;
        justify-content: center;
    
        margin-top: 20px;
        }
    
    &__input {
        box-sizing: border-box;
        background-color: transparent;
    
        width: 358px;
        height: 50px;
    
        padding: 16px 295px 15px 15px;
    
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: var(--white-color);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 4px;
        outline: transparent;
    
        cursor: pointer;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__input:hover,
    &__input:focus {
        border-color: var(--accent-color);
    }

    &__input::placeholder {
        display: flex;
        align-items: center;
    
        font-size: 16px;
        line-height: 0.8;
        letter-spacing: 0.01em;
        color: rgba(255, 255, 255, 0.6);
        letter-spacing: 0.03em;
    }

    &__btn {
        position: relative;
        display: flex;
        align-items: center;
    
        background-color: var(--accent-color);
        min-width: 200px;
        height: 50px;
    
        margin-left: 12px;
        padding: 10px 28px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
    
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 16px;
        line-height: 1.86;
        color: var(--white-color);
        letter-spacing: 0.06em;
    
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__btn:hover,
    &__btn:focus {
            background: #188CE8;
    }

    &__svg {
        margin-left: 10px;
        fill: var(--white-color);
        width: 24px;
        height: 24px;
    }
}