.header {
    border-bottom: 1px solid #ECECEC;
    padding-top: 16px;
    padding-bottom: 16px;

    .container {
            align-items: center;
            display: flex;
            margin-bottom: 0;
    }
}