.mob-menu {
    @media screen and (min-width:768px) {
            @include hidden;
    }

    a{
        text-decoration: none;
    }

    display: flex;
    flex-direction: column;
    width: 480px;
    height: 796px;
    padding: 48px 40px;
    
    &__nav-list {
        font-weight: 500;
        font-size: 40px;
        line-height: 0.85;
        letter-spacing: 0.02em;
        
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__nav-item {
        display: flex;
        margin-bottom: 32px;
    }

    &__link {
        color: var(--main-text-color);
    }

    &__link--accent {
        color: var(--accent-color);
    }

    &__bottom {
    margin-top: auto;
    }

    &__contacts-item:first-child {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.18;    
        letter-spacing: 0.02em;
        

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__social-list {
        display: flex;
        gap:
    }
}

