.filter {

    &__list {
        display: flex;
        justify-content: center;
        padding-bottom: 34px;
    }

    &__btn {
        min-width: 73px;
        padding: 6px 25px;
    
        background-color: var(--team-buttons-background-color);
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        border: inherit;
        border-radius: 4px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__btn:hover,
    &__btn:focus {
        background-color: var(--accent-color);
        color: var(--white-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.filter__item+.filter__item {
    margin-left: 8px;
}

/* 9 items */

.portfolio {

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__link {
        display: block;
        text-decoration: none;
        color: inherit;
    }

    &__list {                   /* Ділимо на 3 секції через -15px */
        margin: -15px;
    }

    &__item {                   /* в лішку, а не в хувер, щоб в 2 сторони був box-shadow */
        margin: 15px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        }

    &__link:hover,
    &__link:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__frame {
        border: 1px solid #EEEEEE;
        // margin-top: -5px;
        padding: 20px 24px;
    }

    &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }

    &__type {
        margin-top: 4px;
        margin-bottom: 0;
    
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        color: var(--submain-text-color);
    }

    &__thumb {                  /* Ефект виїзду карточки в Портфоліо */
        position: relative;
        overflow: hidden;
        height: 294px;
    }

    &__pic-text {
        display: flex;
        align-items: center;
    
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        margin: 0;
        padding: 63px 24px;
    
        font-family: 'Roboto';
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        color: var(--white-color);
    
        transform: translateY(100%);
        /* transform: translateX(-100%); виїжджає збоку  */
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: rgba(33, 150, 243, 0.9);
    }

    &__item:hover .portfolio__pic-text {
        transform: translateY(0);
    }
}

                                /* Ділимо на 3 секції через nth child */
        
/* .portfolio__item+.portfolio__item {
    margin-left: 30px;
    margin-bottom: 30px;}
    
    .portfolio__item:nth-child(3n+1) {
    margin-left: 0;}
    
    .portfolio__item:nth-last-child(-n+3) {
    margin-bottom: 0;} */