
.team {
    color: var(--main-text-color);
    background-color: var(--team-buttons-background-color);
    text-align: center;

    &__title {
            padding-bottom: 50px;
    
            text-align: center;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
            color: var(--main-text-color);
    }
    &__list {
        display: flex;
    }
    &__name {
        font-weight: 500;
    }
    &__position {
        margin-top: 10px;
        margin-bottom: 20px;
    
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--submain-text-color); 
    }
    &__item {
        background-color: var(--white-color);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__details {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.team__item+.team__item {
    margin-left: 30px;
}