.container {
    margin: auto;
    padding: 0 15px;
    max-width: 1200px;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    line-height: initial;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

// a {
//     text-decoration: none;
// }

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

img {
    display: block;
    margin: 0;
}

.hidden {
    /* робимо невидемим на всіх браузерах */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}