:root {
    --main-text-color: #212121;
    --submain-text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --overlay-color: rgba(47, 48, 58, 0.4);
    --social-link-color: #AFB1B8;
    --backdrop: rgba(0, 0, 0, 0.2);

    --hero-footer-background-color: #2F303A;
    --team-buttons-background-color: #F5F4FA;
}